@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stack {
  position: relative;
  height: 100%;
  width: 100%;
}

.stack-item {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;

  > * {
    pointer-events: auto;
  }
}

.hidden-scrollbar {
  /* 保留滚动功能 */
  overflow: auto;

  /* IE 和 Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;
}

/* Chrome、Safari、Edge（Webkit内核） */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-user-select {
  user-select: none;
}
