* {
  margin: 0;
  padding: 0;
}

.stack {
  position: relative;
  height: 100%;
  width: 100%;
}
.stackItem { // 架空型b 不要绑定事件
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  > * {
    pointer-events: auto;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.items-center {
  height: 100%;
  display: flex;
  align-items: center;
}
.hidden-scrollbar {
  /* 保留滚动功能 */
  overflow: auto;

  /* IE 和 Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;
}

/* Chrome、Safari、Edge（Webkit内核） */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
